---
import Layout from "../layouts/Layout.astro";
import CodingSwitch from "../components/codingSwitch";
import "../styles/global.css";
---

<Layout>
  <div
    class="bg-gray-900 flex justify-center items-center flex-col md:flex-row w-full h-7/9"
  >
    <div
      class="rounded-2xl bg-gray-700 w-5/6 min-h-1/6 md:w-1/6 md:min-h-2/3 drop-shadow-2xl m-3 mb-0 flex flex-row md:flex-col overflow-auto"
    >
      <!-- "encoding" selection -->
      <button
        id="setBinary"
        class="text-white font-bold bg-blue-500 m-2 md:m-5 p-2 md:p-5 rounded-2xl cursor-pointer hover:bg-blue-800 transition"
        >Binary-Shrimp</button
      >
      <button
        id="setQR"
        class="text-white font-bold bg-blue-500 m-2 md:m-5 p-2 md:p-5 rounded-2xl cursor-pointer hover:bg-blue-800 transition"
        >QR-Shrimp</button
      >
      <button
        id="setMorse"
        class="text-white font-bold bg-blue-500 m-2 md:m-5 p-2 md:p-5 rounded-2xl cursor-pointer hover:bg-blue-800 transition"
        >Morsing-Shrimp</button
      >
      <button
        id="setBase"
        class="text-white font-bold bg-blue-500 m-2 md:m-5 p-2 md:p-5 rounded-2xl cursor-pointer hover:bg-blue-800 transition"
        >Based-Shrimp</button
      >
    </div>
    <div
      class="rounded-2xl bg-gray-700 w-5/6 md:w-2/3 h-fit min-h-2/3 md:h-2/3 drop-shadow-2xl m-3 mb-0 flex flex-col"
    >
      <CodingSwitch client:load />
    </div>
  </div>
  <div
    class="rounded-2xl bg-gray-700 opacity-60 w-5/6 md:w-1/3 h-fit drop-shadow-2xl m-1 flex flex-col z-0 transition-all"
    id="note-cont"
  >
    <p class="text-white font-bold m-4 mb-0">Note</p>
    <p id="note" class="text-gray-200 m-5 mt-1 text-xs md:text-xl">/</p>
  </div>

  <script>
    import { encoding } from "../store.js";

    type EncodingType = "binary" | "qr" | "morse" | "base";

    const notes: Record<EncodingType, string> = {
      binary: "Emojis can't be encoded",
      qr: "Use the error correction slider to make the qr-code more robust but also add size. For good scanability the code should be placed on a dark background.",
      morse: "Only english characters and numbers (and space) can be used",
      base: "Emojis can't be encoded",
    };

    const buttons: Record<EncodingType, HTMLElement | null> = {
      binary: document.getElementById("setBinary"),
      qr: document.getElementById("setQR"),
      morse: document.getElementById("setMorse"),
      base: document.getElementById("setBase"),
    };

    let noteElm = document.getElementById("note");
    let noteCont = document.getElementById("note-cont");

    function setEncoding(type: EncodingType) {
      encoding.set(type);

      Object.entries(buttons).forEach(([btnType, btn]) => {
        if (btnType === type) {
          btn?.classList.remove("bg-blue-500");
          btn?.classList.add("bg-blue-700");
        } else {
          btn?.classList.remove("bg-blue-700");
          btn?.classList.add("bg-blue-500");
        }
      });

      noteElm!.innerText = notes[type];
    }

    Object.entries(buttons).forEach(([type, btn]) => {
      btn?.addEventListener("click", () => setEncoding(type as EncodingType));
    });
  </script>
</Layout>
