---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div
    class="rounded-2xl bg-gray-700 w-1/6 h-2/3 drop-shadow-2xl m-3 flex flex-col overflow-auto"
  >
    <!-- "encoding" selection -->
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >QR-Shrimp</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Binary-Shrimp</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Shrimp 3</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Shrimp 4</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Shrimp 5</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Shrimp 5</button
    >
  </div>
  <div
    class="rounded-2xl bg-gray-700 w-2/3 h-2/3 drop-shadow-2xl m-3 flex flex-col"
  >
    <!-- encoder/decoder switch -->
    <div class="flex items-center m-auto mt-5 select-none">
      <label for="switch" class="relative inline-block w-50 h-8 cursor-pointer">
        <input type="checkbox" id="switch" class="peer sr-only" />
        <span
          class="absolute inset-0 rounded-full transition-colors duration-200 ease-in-out bg-neutral-700 peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
        ></span>
        <span
          class="absolute top-1/2 start-0.5 -translate-y-1/2 h-8 w-25 rounded-full shadow-xs transition-transform duration-200 ease-in-out peer-checked:translate-x-full bg-neutral-400 peer-checked:bg-white"
        ></span>
        <!-- Left Text -->
        <span
          class="absolute top-1/2 start-10 -translate-y-1/2 flex justify-center items-center size-5 peer-checked:text-white transition-colors duration-200 text-neutral-500"
        >
          ENCODING
        </span>
        <!-- Right Text -->
        <span
          class="absolute top-1/2 end-10 -translate-y-1/2 flex justify-center items-center size-5 peer-checked:text-blue-600 transition-colors duration-200 text-neutral-500"
        >
          DECODING
        </span>
      </label>
    </div>

    <!-- "encoder" -->
    <div class="flex flex-row flex-1">
      <textarea
        id="input-text"
        class="block p-2.5 m-5 flex-1 text-sm rounded-lg border bg-gray-600 border-gray-500 placeholder-gray-400 text-white resize-none"
        placeholder="Write your text to en-shrimp here..."></textarea>

      <div
        class="block p-2.5 m-5 flex-1 text-sm rounded-lg border bg-gray-600 border-gray-500 placeholder-gray-400 text-white"
      >
      </div>
    </div>
  </div>
</Layout>
