---
import Layout from "../layouts/Layout.astro";
import CodingSwitch from "../components/codingSwitch";
import "../styles/global.css";
---

<Layout>
  <div
    class="rounded-2xl bg-gray-700 w-1/6 h-2/3 drop-shadow-2xl m-3 flex flex-col overflow-auto"
  >
    <!-- "encoding" selection -->
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Binary-Shrimp</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >QR-Shrimp</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Shrimp 3</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Shrimp 4</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Shrimp 5</button
    >
    <button
      class="text-white font-bold bg-blue-500 m-5 p-5 rounded-2xl cursor-pointer hover:bg-blue-700 transition"
      >Shrimp 5</button
    >
  </div>
  <div
    class="rounded-2xl bg-gray-700 w-2/3 h-2/3 drop-shadow-2xl m-3 flex flex-col"
  >
    <CodingSwitch client:load />
  </div>
</Layout>
